<div class="d-flex flex-column flex-shrink-0 p-3 pt-0 text-white bg-dark vh-100" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Christian Jiménez Roche</span>
    </a>
    <hr>
    <ul class="list-group mb-auto">
        <li class="list-group-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            role="button">
            Home
        </li>
        <li class="list-group-item" routerLink="guess" routerLinkActive="active" role="button">
            Guess the number
        </li>
    </ul>
    <div class="d-flex justify-content-between">
        <div class="row g-3">
            <a href="https://es.linkedin.com/in/christian-jimenez-roche" target="_blank" class="col text-reset">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="https://github.com/Akeir18" target="_blank" class="col text-reset">
                <i class="bi bi-github"></i>
            </a>
        </div>

        <!-- TODO Add change theme button functionality -->
        <!-- <div class="row g-3">
            <span class="col">
                <i class="bi bi-moon-stars-fill"></i>
                <i class="bi bi-brightness-high-fill d-none"></i>
            </span>
        </div> -->
    </div>
</div>